@import '../../assets/styles/color';

.header {
  position: absolute;
  width: 100%;
  top: 52px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 107px;

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    min-width: 400px;

    .link {
      font-weight: 700;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 0.14em;
      text-transform: uppercase;
      text-decoration: none;
      color: $black;
    }
  }
}
