<div class="map-container">
  <div class="map-frame">
    <div id="map"></div>
  </div>
  <div class="options">
    <span class="title">Параметры</span>
    <form class="form">
      <div class="param">
        <label class="text" for="choisePsmp">Выберите ПСМП: </label>
        <select id="choisePsmp">
          <option disabled>Выберите подстанцию</option>
          <option value="o1">Подстанция №1</option>
          <option value="o2">Подстанция №2</option>
          <option value="o3">Подстанция №3</option>
          <option value="o4">Подстанция №4</option>
          <option value="o5">Подстанция №5</option>
          <option value="o6">Подстанция №6</option>
          <option value="o7">Подстанция №7</option>
          <option value="o8">Подстанция №8</option>
          <option value="o9">Подстанция №9</option>
        </select>
      </div>
      <app-button btnText="Принять"></app-button>
    </form>
    <span id="results">

    </span>
  </div>
</div>
