<div id="wrapper">
  <section class="info">
    <header class="header">
      <div>
        <span>LOGO</span>
      </div>
      <nav>
        <ul class="nav">
          <li><a href="#" class="link">Главная</a></li>
          <li><a href="#" class="link">Функции</a></li>
          <li><a href="#" class="link">Поддержка</a></li>
          <li><a href="#" class="link">Контакты</a></li>
        </ul>
      </nav>
      <button>BUTTON</button>
    </header>
    <div class="health">
      <div class="getStart">
        <span class="title">Take care of your family’s <span class="pick">health.</span></span>
        <span class="text">All in one destination for COVID-19 health queries.  Consult 10,000+ health workers about your concerns.</span>
        <button>start</button>
      </div>
      <img src="./assets/imgs/main.svg" alt="doctor" />
    </div>
  </section>
</div>
